html, body {
    height: 100%;
    width:100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header, .greeting {
    background-color:#1F2937;
    color: white;
}

.header {
    display:flex;
    height:50px;
}

.header .center {
    flex: 1;
}


/* --------------------- */

.greeting {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.greeting .left {
    display:flex;
    flex-direction: column;
}

.greeting .right img {
    height:200px;
    width:200px;
}

/* --------------------- */

.info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:200px;
}


.info .bottom {
    display: flex;
    justify-content: center;
    gap:10px;
}

.info .bottom .item .box {
    border-radius:10px;
    border: 2px solid black;
    height:150px;
    width:150px;
}

.info .bottom .item .text {
    height:auto;
    width:150px;
    text-align: center;
}

/* --------------------- */

.quotation {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:200px;
}

.quotation .bottom {
    text-align: right;
}

/* --------------------- */

.call {
    display:flex;
    justify-content: center;
    align-items: center;
    height:200px;
}

/* --------------------- */

.footer {
    display:flex;
    justify-content: center;
    height:50px;
}

